.editor{
    flex-basis: 50%;
    /* border-right:1px solid rgb(179, 178, 178); */
    padding:0 3em;
    overflow-y:auto;

}
.editor::-webkit-scrollbar {
    width: 5px;
}
.editor::-webkit-scrollbar-thumb {
    background-color: #777485;
}
.editor::-webkit-scrollbar-track {
    background-color: grey;
    box-shadow: inset 0px 0px 5px white;
}

.title{
    width:100%;
    text-align: center;
    margin-bottom:1em;
    color:rgb(87, 90, 134);
}

.container{
}
