
.card{
    display: flex;
    align-items:center;
    margin:0 auto;
    margin-bottom:2.1em;
    border-radius:1em;
    padding:1.5em 1em;
    max-width: 470px; 
    width:100%;
    box-shadow: 10px 9px 20px -5px rgba(0,0,0,0.23);
}

.card.dark{
    background-color: rgb(38, 38, 38);
    color:whitesmoke;
}

.card.light{
    background-color: rgb(255, 254, 247);
    color: rgb(20, 20, 20);
}

.card.colorful{
    background: linear-gradient(to top, #e6c5f8 0%, #d1fdff 100%);

}

.avatar{
    width:10em;
    height:10em;
    padding:1em;
    padding-left:0.5em;
    border-radius: 50%;
}

.info{
    width:100%;
    margin-left:20px;
}

.name,
.company,
.job,
.email,
.greeting{
    margin:0;
    font-size:0.9rem;
    margin-bottom:0.2em;
}

.name{
    font-size:1.2rem;
}

.company{
    margin-bottom:1em;
}

.company::after{
    content:'';
    display:block;
    width:90%;
    height:1.5px;
    background-color: rgb(251, 251, 251);
}