@value customPurple from "../../common/colors.css";

.header{
    width:100%;
    text-align: center;
    padding:0.5em;
    background-color: customPurple;
    position:relative;
}

.logo{
    width:4em;
    
}

.title{
    margin:0;
    color:whitesmoke;
}

.logout{
    position:absolute;
    right:1.2em;
    top:1em;
    padding:0.5em;
    border-radius:18%;
    background-color:rgb(245, 149, 23);
    color:whitesmoke;
    outline:0;
    border:0;
    cursor: pointer;
}

.logout:hover{
    background-color: rgb(32, 31, 31);
}